USER_DB_NAME=user_db
USER_DB_USERNAME=ticket_user
USER_DB_PASSWORD=change-me
USER_DB_URL=jdbc:postgresql://user-db:5432/user_db

PERFORMANCE_DB_NAME=performance_db
PERFORMANCE_DB_USERNAME=ticket_performance
PERFORMANCE_DB_PASSWORD=change-me
PERFORMANCE_DB_URL=jdbc:postgresql://performance-db:5432/performance_db

BOOKING_DB_NAME=booking_db
BOOKING_DB_USERNAME=ticket_booking
BOOKING_DB_PASSWORD=change-me
BOOKING_DB_URL=jdbc:postgresql://booking-db:5432/booking_db

MONGO_INITDB_ROOT_USERNAME=ticket_mongo
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGODB_URI=mongodb://ticket_mongo:change-me@notification-db:27017/notification_db?authSource=admin

REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

IMAGE_TAG=local
